USE [master]
GO
/****** Object:  Database [DentalClinic]    Script Date: 09/05/2026 19:48:35 ******/
CREATE DATABASE [DentalClinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DentalClinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DentalClinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DentalClinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DentalClinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DentalClinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DentalClinic]
GO
/****** Object:  Table [dbo].[App_MedicalRecord]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_MedicalRecord](
	[App_ID] [int] NOT NULL,
	[Record_ID] [int] NOT NULL,
	[Patient_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[App_ID] ASC,
	[Record_ID] ASC,
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[App_ID] [int] NOT NULL,
	[Date] [date] NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](30) NULL,
	[Waiting_No] [int] NULL,
	[Patient_ID] [int] NULL,
	[Doctor_ID] [int] NOT NULL,
	[Receptionist_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[App_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Doctor_ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Speciality] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecord]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecord](
	[Record_ID] [int] NOT NULL,
	[Patient_ID] [int] NOT NULL,
	[Diagnosis] [varchar](100) NULL,
	[RecordDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Record_ID] ASC,
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[Medicine_ID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Diagnosis] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Medicine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Bdate] [date] NULL,
	[City] [nvarchar](20) NULL,
	[Country] [nvarchar](20) NULL,
	[Blood_Type] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Phone]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Phone](
	[Patient_ID] [int] NOT NULL,
	[Phone_Number] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC,
	[Phone_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] NOT NULL,
	[Status] [nvarchar](30) NULL,
	[Method] [varchar](50) NULL,
	[PaymentDate] [date] NULL,
	[Amount] [money] NULL,
	[App_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[Prescription_ID] [int] NOT NULL,
	[Date] [date] NULL,
	[Record_ID] [int] NULL,
	[Doctor_ID] [int] NULL,
	[Patient_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Prescription_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription_Medicine]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription_Medicine](
	[Prescription_ID] [int] NOT NULL,
	[Medicine_ID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Instruction] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Prescription_ID] ASC,
	[Medicine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receptionist]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receptionist](
	[Receptionist_ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Bdate] [date] NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Receptionist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[App_MedicalRecord] ([App_ID], [Record_ID], [Patient_ID]) VALUES (1002, 2, 2)
INSERT [dbo].[App_MedicalRecord] ([App_ID], [Record_ID], [Patient_ID]) VALUES (1003, 3, 3)
INSERT [dbo].[App_MedicalRecord] ([App_ID], [Record_ID], [Patient_ID]) VALUES (1004, 4, 4)
GO
INSERT [dbo].[Appointment] ([App_ID], [Date], [Type], [Status], [Waiting_No], [Patient_ID], [Doctor_ID], [Receptionist_ID]) VALUES (1002, CAST(N'2026-05-03' AS Date), N'Surgery', N'Pending', 2, 2, 112, 992)
INSERT [dbo].[Appointment] ([App_ID], [Date], [Type], [Status], [Waiting_No], [Patient_ID], [Doctor_ID], [Receptionist_ID]) VALUES (1003, CAST(N'2026-05-04' AS Date), N'Cleaning', N'Completed', 3, 3, 113, 993)
INSERT [dbo].[Appointment] ([App_ID], [Date], [Type], [Status], [Waiting_No], [Patient_ID], [Doctor_ID], [Receptionist_ID]) VALUES (1004, CAST(N'2026-05-05' AS Date), N'Root Canal', N'Confirmed', 4, 4, 114, 994)
GO
INSERT [dbo].[Doctor] ([Doctor_ID], [Name], [Gender], [Speciality], [Email]) VALUES (111, N'Omar', N'Male', N'Orthodontist', N'omar@gmail.com')
INSERT [dbo].[Doctor] ([Doctor_ID], [Name], [Gender], [Speciality], [Email]) VALUES (112, N'Mai', N'Female', N'Oral Surgeon', N'Mai@gmail.com')
INSERT [dbo].[Doctor] ([Doctor_ID], [Name], [Gender], [Speciality], [Email]) VALUES (113, N'Noha', N'Female', N'General Dentist', N'Noha@gmail.com')
GO
INSERT [dbo].[MedicalRecord] ([Record_ID], [Patient_ID], [Diagnosis], [RecordDate]) VALUES (1, 1, N'Needs braces', CAST(N'2026-05-01' AS Date))
INSERT [dbo].[MedicalRecord] ([Record_ID], [Patient_ID], [Diagnosis], [RecordDate]) VALUES (2, 2, N'Infection in wisdom tooth', CAST(N'2026-05-01' AS Date))
INSERT [dbo].[MedicalRecord] ([Record_ID], [Patient_ID], [Diagnosis], [RecordDate]) VALUES (3, 3, N'Regular cleaning', CAST(N'2026-05-01' AS Date))
GO
INSERT [dbo].[Medicine] ([Medicine_ID], [Name], [Diagnosis]) VALUES (1, N'Panadol', N'Pain killer')
INSERT [dbo].[Medicine] ([Medicine_ID], [Name], [Diagnosis]) VALUES (2, N'Amoxicillin', N'Antibiotic')
INSERT [dbo].[Medicine] ([Medicine_ID], [Name], [Diagnosis]) VALUES (3, N'Oral-B Mouthwash', N'Antiseptic')
GO
INSERT [dbo].[Patient] ([Patient_ID], [Name], [Gender], [Bdate], [City], [Country], [Blood_Type]) VALUES (1, N'Ahmed', N'Male', CAST(N'2005-05-01' AS Date), N'Cairo', N'Egypt', N'A+')
INSERT [dbo].[Patient] ([Patient_ID], [Name], [Gender], [Bdate], [City], [Country], [Blood_Type]) VALUES (2, N'Shahy', N'Female', CAST(N'2005-08-23' AS Date), N'Cairo', N'Egypt', N'B-')
INSERT [dbo].[Patient] ([Patient_ID], [Name], [Gender], [Bdate], [City], [Country], [Blood_Type]) VALUES (3, N'Ali', N'Female', CAST(N'2005-04-03' AS Date), N'Cairo', N'Egypt', N'O+')
GO
INSERT [dbo].[Patient_Phone] ([Patient_ID], [Phone_Number]) VALUES (1, N'01011111111')
INSERT [dbo].[Patient_Phone] ([Patient_ID], [Phone_Number]) VALUES (2, N'01222222222')
INSERT [dbo].[Patient_Phone] ([Patient_ID], [Phone_Number]) VALUES (3, N'01533333333')
GO
INSERT [dbo].[Payment] ([Payment_ID], [Status], [Method], [PaymentDate], [Amount], [App_ID]) VALUES (2, N'Pending', N'Visa', CAST(N'2026-05-03' AS Date), 1500.0000, 1002)
INSERT [dbo].[Payment] ([Payment_ID], [Status], [Method], [PaymentDate], [Amount], [App_ID]) VALUES (3, N'Paid', N'Cash', CAST(N'2026-05-04' AS Date), 300.0000, 1003)
INSERT [dbo].[Payment] ([Payment_ID], [Status], [Method], [PaymentDate], [Amount], [App_ID]) VALUES (4, N'Paid', N'Credit', CAST(N'2026-05-05' AS Date), 1200.0000, 1004)
GO
INSERT [dbo].[Prescription] ([Prescription_ID], [Date], [Record_ID], [Doctor_ID], [Patient_ID]) VALUES (1, CAST(N'2026-05-02' AS Date), 1, 111, 1)
INSERT [dbo].[Prescription] ([Prescription_ID], [Date], [Record_ID], [Doctor_ID], [Patient_ID]) VALUES (2, CAST(N'2026-05-03' AS Date), 2, 112, 2)
INSERT [dbo].[Prescription] ([Prescription_ID], [Date], [Record_ID], [Doctor_ID], [Patient_ID]) VALUES (3, CAST(N'2026-05-04' AS Date), 3, 113, 3)
GO
INSERT [dbo].[Prescription_Medicine] ([Prescription_ID], [Medicine_ID], [Quantity], [Instruction]) VALUES (1, 1, 2, N'Twice a day after meals')
INSERT [dbo].[Prescription_Medicine] ([Prescription_ID], [Medicine_ID], [Quantity], [Instruction]) VALUES (2, 2, 1, N'Every 8 hours')
INSERT [dbo].[Prescription_Medicine] ([Prescription_ID], [Medicine_ID], [Quantity], [Instruction]) VALUES (3, 3, 1, N'Use before sleep')
GO
INSERT [dbo].[Receptionist] ([Receptionist_ID], [Name], [Gender], [Bdate], [Email]) VALUES (991, N'Mona', N'Female', CAST(N'1990-10-10' AS Date), N'mona@gmail.com')
INSERT [dbo].[Receptionist] ([Receptionist_ID], [Name], [Gender], [Bdate], [Email]) VALUES (992, N'Sara', N'Female', CAST(N'1995-05-05' AS Date), N'sara@gmail.com')
INSERT [dbo].[Receptionist] ([Receptionist_ID], [Name], [Gender], [Bdate], [Email]) VALUES (993, N'Hoda', N'Female', CAST(N'1988-02-02' AS Date), N'hoda@gmail.com')
GO
ALTER TABLE [dbo].[App_MedicalRecord]  WITH CHECK ADD FOREIGN KEY([App_ID])
REFERENCES [dbo].[Appointment] ([App_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[App_MedicalRecord]  WITH CHECK ADD FOREIGN KEY([Record_ID], [Patient_ID])
REFERENCES [dbo].[MedicalRecord] ([Record_ID], [Patient_ID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[Doctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([Receptionist_ID])
REFERENCES [dbo].[Receptionist] ([Receptionist_ID])
GO
ALTER TABLE [dbo].[MedicalRecord]  WITH CHECK ADD FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[Patient_Phone]  WITH CHECK ADD FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([App_ID])
REFERENCES [dbo].[Appointment] ([App_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[Doctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([Record_ID], [Patient_ID])
REFERENCES [dbo].[MedicalRecord] ([Record_ID], [Patient_ID])
GO
ALTER TABLE [dbo].[Prescription_Medicine]  WITH CHECK ADD FOREIGN KEY([Medicine_ID])
REFERENCES [dbo].[Medicine] ([Medicine_ID])
GO
ALTER TABLE [dbo].[Prescription_Medicine]  WITH CHECK ADD FOREIGN KEY([Prescription_ID])
REFERENCES [dbo].[Prescription] ([Prescription_ID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [CHK_Appointment_Type] CHECK  ((ltrim(rtrim([Type]))<>''))
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [CHK_Appointment_Type]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [CHK_Doctor_Email] CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [CHK_Doctor_Email]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [CHK_Doctor_Gender] CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [CHK_Doctor_Gender]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [CHK_Doctor_Name] CHECK  ((NOT [Name] like '%[^a-zA-Z .]%'))
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [CHK_Doctor_Name]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_BloodType] CHECK  (([Blood_Type]='O-' OR [Blood_Type]='O+' OR [Blood_Type]='AB-' OR [Blood_Type]='AB+' OR [Blood_Type]='B-' OR [Blood_Type]='B+' OR [Blood_Type]='A-' OR [Blood_Type]='A+'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_BloodType]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_Gender] CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_Gender]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_Name] CHECK  ((NOT [Name] like '%[^a-zA-Z ]%'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_Name]
GO
ALTER TABLE [dbo].[Patient_Phone]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_Phone] CHECK  ((len([Phone_Number])=(11) AND NOT [Phone_Number] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Patient_Phone] CHECK CONSTRAINT [CHK_Patient_Phone]
GO
ALTER TABLE [dbo].[Receptionist]  WITH CHECK ADD  CONSTRAINT [CHK_Receptionist_Email] CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Receptionist] CHECK CONSTRAINT [CHK_Receptionist_Email]
GO
ALTER TABLE [dbo].[Receptionist]  WITH CHECK ADD  CONSTRAINT [CHK_Receptionist_Gender] CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Receptionist] CHECK CONSTRAINT [CHK_Receptionist_Gender]
GO
ALTER TABLE [dbo].[Receptionist]  WITH CHECK ADD  CONSTRAINT [CHK_Receptionist_Name] CHECK  ((NOT [Name] like '%[^a-zA-Z .]%'))
GO
ALTER TABLE [dbo].[Receptionist] CHECK CONSTRAINT [CHK_Receptionist_Name]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePatientProfile]    Script Date: 09/05/2026 19:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdatePatientProfile]
    @PatientID INT,
    @Name NVARCHAR(50),
    @City NVARCHAR(20),
    @BloodType NVARCHAR(5),
    @Gender NVARCHAR(10),
    @Bdate DATE,
    @Phone NVARCHAR(15)
AS
BEGIN
    BEGIN TRANSACTION; 

    BEGIN TRY
        UPDATE Patient 
        SET Name = @Name, 
            City = @City, 
            Blood_Type = @BloodType, 
            Gender = @Gender, 
            Bdate = @Bdate 
        WHERE Patient_ID = @PatientID;

        DELETE FROM Patient_Phone WHERE Patient_ID = @PatientID;
        INSERT INTO Patient_Phone (Patient_ID, Phone_Number) VALUES (@PatientID, @Phone);

        COMMIT TRANSACTION; 
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; 
        THROW;
    END CATCH
END;

GO
USE [master]
GO
